*{
  box-sizing:border-box;
  }
h1{
 margin-bittom:15px;
   }
p{ 
 border:1px solid black;
 width:90px;
 height: 150px;
 margin-right:auto;
 margin-left:auto;
 font-family:veredana;
 margin-bottom:15px;
 margin-top:15px;
 background-color:grey;
 padding:5px;
div{
 background-color:lightblue;
 border:1px solid black;
 position:relative;
 padding:5px;
 margin-top:px;
 border-radius:10px;
}
div>p{
 float:right;
 height:50px;
 top:-5px;
}
.contanerbox{
 float:left;
 border:1px solid black;
 }
 #p1{
 top:5px;
 width:80%;
 height:150px;
 left:10%;
 }
#p2{
 top:10px;
 width:80%;
 left:10%;
 height:150px;
 }

}
 
